# Ignore everything

# Allow specific files or directories
!.gitignore
!README.md

# Dependencies
node_modules/
.pnp/
.pnp.js

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
/coverage

# Production
/build

# Misc
.DS_Store

# Ignore specific types of files (example)
*.log
*.temp
