body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  position: relative;
}

.background {
  position: absolute; /* ensures it covers the full page */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  --s: 100px; /* control the size */
  --c1: #f8b195;
  --c2: #355c7d;

  --_g: var(--c2) 4% 14%, var(--c1) 14% 24%, var(--c2) 22% 34%,
      var(--c1) 34% 44%, var(--c2) 44% 56%, var(--c1) 56% 66%, var(--c2) 66% 76%,
      var(--c1) 76% 86%, var(--c2) 86% 96%;
  background: radial-gradient(
          100% 100% at 100% 0,
          var(--c1) 4%,
          var(--_g),
          #0008 96%,
          #0000
      ),
      radial-gradient(
          100% 100% at 0 100%,
          #0000,
          #0008 4%,
          var(--_g),
          var(--c1) 96%
      )
      var(--c1);
  background-size: var(--s) var(--s);
  z-index: -1; /* ensures it is behind the content */
}

.user-container {
  max-width: 400px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
 background: #fffefe;

}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="url"]:focus {
  border-color: #66afe9;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4cae4c;
}

.message {
  text-align: center;
  color: #e74c3c;
  margin-top: 10px;
}

.toggle-form {
  text-align: center;
  cursor: pointer;
  color: #007bff;
  margin-top: 10px;
}

.toggle-form:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

img {
  display: block;
  margin: 10px auto;
  border-radius: 50%;
}

.h1::after {
  width: 18px;
  height: 18px;
 
}